/*
**	tek/ui/style/d-tracker.css
**
**	Version: 1.0
*/

tek.ui.class.display {
	rgb-background: #fff;
	rgb-active: #bbb;
	rgb-focus: #ddd;
	rgb-hover: #ddd;
	rgb-disabled: #d1d1d1;
	rgb-disabled-detail: #666;
	rgb-disabled-detail-shine: #fff;
	rgb-border-shine: #f8f8f8;
	rgb-border-shadow: #555;
	rgb-border-focus: #fff;
	rgb-list: #fff;
	rgb-list-alt: #fff;
	rgb-group: #d6d6d6;
}