[Desktop Entry]
Type=Application
Name=D-Tracker
Terminal=false
GenericName=A lightweight timetracker that looks like hamster
Categories=Utility;
Exec=d-tracker
Icon=d-tracker
StartupWMClass=d-tracker
