[Desktop Entry]
Type=Application
Version=1.0
Name=D-Tracker
GenericName=A lightweight timetracker that looks like hamster
Categories=Utility;
Exec=/usr/local/bin/d-tracker
Icon=d-tracker_icon
